[submodule "thirdparty/wzl-cutl/wzl-cutl"]
	path = thirdparty/wzl-cutl/wzl-cutl
	url = https://github.com/noodlecollie/wzl-cutl.git
[submodule "thirdparty/debugbreak-1.0/debugbreak-1.0"]
	path = thirdparty/debugbreak-1.0/debugbreak-1.0
	url = https://github.com/scottt/debugbreak.git
[submodule "thirdparty/catch2-3.5.4/catch2-3.5.4"]
	path = thirdparty/catch2-3.5.4/catch2-3.5.4
	url = https://github.com/catchorg/Catch2.git
[submodule "thirdparty/nuklear-4.12.0/nuklear-4.12.0"]
	path = thirdparty/nuklear-4.12.0/nuklear-4.12.0
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "thirdparty/cJSON-1.7.17/cJSON-1.7.17"]
	path = thirdparty/cJSON-1.7.17/cJSON-1.7.17
	url = https://github.com/DaveGamble/cJSON.git
[submodule "thirdparty/cargs-1.1.0/cargs-1.1.0"]
	path = thirdparty/cargs-1.1.0/cargs-1.1.0
	url = https://github.com/likle/cargs.git
[submodule "thirdparty/cwalk-1.2.9/cwalk-1.2.9"]
	path = thirdparty/cwalk-1.2.9/cwalk-1.2.9
	url = https://github.com/likle/cwalk.git
[submodule "cmake/zig-cmake-toolchains"]
	path = cmake/zig-cmake-toolchains
	url = https://github.com/starofrainnight/zig-cmake-toolchains.git
[submodule "thirdparty/imgui-1.91.6/imgui-1.91.6"]
	path = thirdparty/imgui-1.91.6/imgui-1.91.6
	url = https://github.com/ocornut/imgui.git
